<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>
    <main class="mt-3">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap pb-3">
                            <img class="img-thumbnail" th:src="${product.image}" alt="Image">
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 th:text="${product.name}"></h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 bottom-rule">
                            <h5 class="product-price">Price: <span th:text="${product.price}"></span></h5>
                        </div>
                    </div>
                    <div class="row mt-2 d-flex justify-content-center">
                        <div class="col-md-3">
                            <p>Rating: <span th:text="${product.rating}"></span></p>
                        </div>
                    </div>
                    <div class="row mt-2 d-flex justify-content-center">
                        <div class="col-md-3">
                            <p><span th:text="${product.quantity}"></span> In Stock</p>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <a class="btn bg-markoni text-white" th:href="@{/orders/order/{id}(id=${product.id})}"
                           th:text="Order"></a>
                        <a class="btn btn-dark text-white ml-5" th:href="@{/home}"
                           th:text="Back"></a>
                    </div>
                    <div class="container mt-5">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#comment">Comment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#allComments">All Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="container tab-pane active"><br>
                                <h4>Description</h4>
                                <p th:text="${product.description}"></p>
                            </div>
                            <div id="comment" class="container tab-pane fade"><br>
                                <h4>Comment</h4>
                                <form id="data-comment" th:action="@{/comments/add}" method="post">
                                    <input type="hidden" name="productId" th:value="${product.id}">
                                    <div class="form-group">
                                        <label class="form-control-label" for="new-rating">Rating</label>
                                        <input class="form-control" id="new-rating" type="number" name="rating" min="1"
                                               max="5"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="new-comment">Your comment</label>
                                        <textarea class="form-control" id="new-comment" name="comment"
                                                  rows="5"></textarea>
                                    </div>
                                    <div class="button-holder d-flex justify-content-center mb-3">
                                        <button type="submit" class="btn bg-markoni text-white">Add</button>
                                    </div>
                                </form>
                            </div>
                            <div id="allComments" class="container tab-pane fade">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:replace="fragments/footer"/>
    </footer>
</div>
<script th:inline="javascript">
    fetch("/comments/fetch/" + [[${product.id}]])
        .then((response) => response.json())
        .then((json) => {

            $('#allComments').empty();
            let comments = $('#allComments')
                .append(`<br>`)
                .append(`<h4>All Comments</h4>`)
                .append(`<hr class="bg-markoni hr-2"/>`);

            json.forEach((comment) => comments
                .append(`<p><span class="font-italic">User:</span> ${comment.user} <span class="ml-5 font-italic">Added on:</span> ${comment.time}</p>`)
                .append(`<p id="comment-container"><span class="font-italic">Comment:</span> ${comment.comment}</p>`)
                .append(`<hr class="bg-markoni hr-2"/>`));
        })
        .catch((err) => console.log(err));
</script>
</body>
</html>