<nav class="navbar navbar-expand-lg navbar-dark bg-org.yanmark.markoni rounded" xmlns:th="http://www.thymeleaf.org">
	<a class="navbar-brand nav-link-white" th:href="@{/}">MARKONI</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/packages/pending}">Pending</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/packages/shipped}">Shipped</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/packages/delivered}">Delivered</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/packages/create}">Package</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/categories/create}">Category</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/products/create}">Product</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link nav-link-white active" th:href="@{/home}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/users/account}">My Account</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/receipts}">Receipt</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-link-white" th:href="@{/users/logout}">Logout</a>
			</li>
		</ul>
	</div>
</nav>