<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
</head>
<body>
<div class="container-fluid">
	<header>
		<th:block th:if="${session.role.equals('ADMIN')}">
			<th:block th:replace="fragments/adminNavbarWithCategory"/>
		</th:block>
		<th:block th:unless="${session.role.equals('ADMIN')}">
			<th:block th:replace="fragments/userNavbarWithCategory"/>
		</th:block>
	</header>
	<main class="mt-3">
		<hr class="bg-org.yanmark.markoni hr-2"/>
		<th:block th:if="${#session.getAttribute('role') == 'ADMIN'}">
			<h1 class="text-center" th:text="|Hello, Administrator ${#session.getAttribute('username')}!|"></h1>
		</th:block>
		<th:block th:if="${#session.getAttribute('role') == 'ADMIN'}">
			<h1 class="text-center" th:text="|Hello, ${session.getAttribute('username')}!|"></h1>
		</th:block>
		<hr class="hr-2 bg-org.yanmark.markoni"/>
		<div class="d-flex justify-content-between">
			<div class="w-25 bg-white">
				<h2 class="text-center">Pending</h2>
				<div class="border-org.yanmark.markoni p-3">
					<th:block th:each="pending : ${pendingModels}">
						<div class="p-2 d-flex justify-content-around">
							<h4 class="w-75" th:text="${pending.description}"></h4>
							<a class="btn bg-org.yanmark.markoni text-white w-25"
							   th:href="@{/packages/details(id=${pending.id})}">Details</a>
						</div>
					</th:block>
				</div>
			</div>
			<div class="w-25 bg-white">
				<h2 class="text-center">Shipped</h2>
				<div class="border-org.yanmark.markoni p-3">
					<th:block th:each="shipped : ${shippedModels}">
						<div class="p-2 d-flex justify-content-around">
							<h4 class="w-75" th:text="${shipped.description}"></h4>
							<a class="btn bg-org.yanmark.markoni text-white w-25"
							   th:href="@{/packages/details(id=${shipped.id})}">Details</a>
						</div>
					</th:block>
				</div>
			</div>
			<div class="w-25 bg-white">
				<h2 class="text-center">Delivered</h2>
				<div class="border-org.yanmark.markoni p-3">
					<th:block th:each="delivered : ${deliveredModels}">
						<div class="p-2 d-flex justify-content-around">
							<h4 class="w-75" th:text="${delivered.description}"></h4>
							<a class="btn bg-org.yanmark.markoni text-white w-25"
							   th:href="@{/packages/acquire(id=${delivered.id})}">Acquire</a>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<hr class="bg-org.yanmark.markoni hr-2 mt-5"/>
	</main>
	<footer>
		<th:block th:replace="fragments/footer"/>
	</footer>
</div>
</body>
</html>