<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
</head>
<body>
<div class="container-fluid">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-markoni rounded" xmlns:th="http://www.thymeleaf.org">
			<a class="navbar-brand nav-link-white" th:href="@{/}">MARKONI</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/packages/pending}">Pending</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/packages/shipped}">Shipped</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/packages/delivered}">Delivered</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white active" th:href="@{/packages/create}">Package</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/category/create}">Category</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/product/create}">Product</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/home}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/}">My Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/receipt}">Receipt</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-white" th:href="@{/user/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main class="mt-3">
		<hr class="bg-markoni hr-2"/>
		<h1 class="text-center text-markoni">Package</h1>
		<hr class="bg-markoni w-25 hr-2"/>
		<form class="mx-auto w-25" th:method="post" th:action="@{/packages/create}" th:object="${packageCreate}">
			<!--<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">-->
				<!--<label for="description" class="text-markoni">Description</label>-->
				<!--<input type="text" class="form-control" id="description" placeholder="Description..."-->
				       <!--name="description" th:field="*{description}"/>-->
				<!--<h6 th:each="error : ${#fields.errors('description')}" th:text="${error}"></h6>-->
			<!--</div>-->
			<!--<div class="form-group" th:classappend="${#fields.hasErrors('weight')}? 'text-danger'">-->
				<!--<label for="weight" class="text-markoni">Weight</label>-->
				<!--<input type="number" class="form-control" id="weight" placeholder="Weight..." name="weight"-->
				       <!--th:field="*{weight}"/>-->
				<!--<h6 th:each="error : ${#fields.errors('weight')}" th:text="${error}"></h6>-->
			<!--</div>-->
			<!--<div class="form-group" th:classappend="${#fields.hasErrors('shippingAddress')}? 'text-danger'">-->
				<!--<label for="shippingAddress" class="text-markoni">Shipping Address</label>-->
				<!--<input type="text" class="form-control" id="shippingAddress" placeholder="Shipping Address..."-->
				       <!--name="shippingAddress" th:field="*{shippingAddress}"/>-->
				<!--<h6 th:each="error : ${#fields.errors('shippingAddress')}" th:text="${error}"></h6>-->
			<!--</div>-->
			<div class="form-group" th:classappend="${#fields.hasErrors('recipient')}? 'text-danger'">
				<label for="recipient" class="text-markoni">Recipient</label>
				<select id="recipient" class="form-control" name="recipient" th:field="*{recipient}">
					<option value="">Select Recipient...</option>
					<option th:each="user : ${users}"
					        th:value="${user.id}"
					        th:text="${user.username}"></option>
				</select>
				<h6 th:each="error : ${#fields.errors('recipient')}" th:text="${error}"></h6>
			</div>
			<hr class="bg-markoni hr-2"/>
			<div class="button-holder mt-4 d-flex justify-content-center">
				<button type="submit" class="btn bg-markoni text-white">Create</button>
			</div>
		</form>
		<hr class="bg-markoni hr-2 mt-5"/>
	</main>
	<footer>
		<th:block th:replace="fragments/footer"/>
	</footer>
</div>
</body>
</html>